<DOCTYPE! html>
<html>
    <head>
        <title>Pokecenter Terminal</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <nav id="nav-bar">
            <ul>
                <li><a href="/pokemon">Pokemon</a></li>
            </ul>
        <nav>
        <h1>Pokecenter Terminal</h1>
        <%= yield %>


    </body>
    </html>