<h2>Register new Pokemon</h2>

<form method="POST" action="/pokemon">

    <h3>Pokemon Details</h3>

    <label for="name">Name:</label>
    <input type="text" name="name" id="name"/><br/>

    <label for="date_of_birth">Date of birth: </label>
    <input type="text" name="date_of_birth" id="date_of_birth"/><br/>

    <label for="type">Type: </label>
    <input type="text" name="type" id="type"/><br/>

    <label for="affinity">Affinity: </label>
    <input type="text" name="affinity" id="affinity"/><br/>

    <label for="level">Level: </label>
    <input name="level" type="number" min="1" max="100"><br/>

    <label for="allergy">Allergies: </label>
    <input type="text" name="allergy" id="allergy">

    <h3>Owner Details</h3>

    <label for="owner_first_name">First Name: </label>
    <input type="text" name="owner_first_name" id="owner_first_name"><br/>

    <label for="owner_last_name">Last Name: </label>
    <input type="text" name="owner_last_name" id="owner_last_name"><br/>

    <label for="phone">Phone Number:</label>
    <input type="text" name="phone" id="phone"><br/>

    <label for="email">Email:</label>
    <input type="text" name="email" id="email"><br/>

    <label for="address">Address:</label>
    <input type="text" name="address" id="address"><br/>

    <h3>Medical History</h3>

    <label for="vet_select">Select Vet: </label>
    <select name="vet_id" id="vet_select">
        <% @vets.each do |vet| %>
            <option value=<%= vet.id %>><%= vet.name.capitalize %></option>
        <% end %>
    </select><br/>
    
    <label for="notes">Medical notes: </label>
    <textarea name="notes" id="notes" rows="6" cols="30">
    </textarea><br/>

    <input type="submit" value="Register Pokemon"/>

</form>