/*  NAVIGATION STYLING */
nav {
    background-color: red;
    padding-left: 10px;
    padding-top: 5px;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav h1 {
    color: white;
    font-size: 1.8em;
    padding-left: 70px;
}

#nav-icon {
    width:60px;
    position: relative;
    bottom: 70px;
}

nav li {
    display: inline;
    float: right;
    position: relative;
    bottom: 70px;
    right: 20px;
    padding: 15px ;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.4em;
}
