/*  NAVIGATION STYLING */
nav {
    background-color: red;
    padding-left: 10px;
    padding-top: 5px;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav h1 {
    color: white;
    font-size: 1.8em;
    padding-left: 70px;
}

#nav-icon {
    width:60px;
    position: relative;
    bottom: 70px;
}

nav li {
    display: inline;
    position: relative;
    bottom: 60px;
    right: 20px;
    padding: 10px ;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1em;
}

/*  CONTENT STYLING */

body {
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

h2, h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
    color: red;
}


#pokemon-item {
    display: inline-block;
    border-top: 1px dashed red;
    background-color: rgb(249, 229, 127);
    margin: 10px;
    padding: 10px;
}


